<nz-layout class="app-layout" *ngIf="estado === 'inicial'">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="">
                <img src="assets/images/logo.png" alt="logo">
                <h1>M&V Asociados</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Clientes" nzIcon="user">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="usuarios/lista-usuarios">Listar</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="usuarios/crear-usuario">Crear</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Sesión" nzIcon="lock">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="cerrarSesion()" (keyup.enter)="isCollapsed = !isCollapsed"
                            (keydown.space)="isCollapsed = !isCollapsed" tabindex="0">
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed"
                    (keyup.enter)="isCollapsed = !isCollapsed" (keydown.space)="isCollapsed = !isCollapsed"
                    tabindex="0">
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer class="app-footer">
            <div class="footer-content">
                &copy; 2024. Todos los derechos reservados.
            </div>
        </nz-footer>
    </nz-layout>
</nz-layout>

<div class="contenedor" *ngIf="estado !== 'inicial'">
    <div>
        <nz-spin nzSize="large" nzTip="Cerrando Sesión..."></nz-spin>
    </div>
</div>