<!-- detalle-usuario.component.html -->
<nz-modal [nzTitle]="tituloModal" [nzContent]="detallePersona" [nzFooter]="botonesModal" nzKeyboard="false"
    nzClosable="false" [(nzVisible)]="modalVisible">
    <ng-template #tituloModal><b>Detalle Cliente</b></ng-template>
    <ng-template #detallePersona>
        <ng-container *ngIf="personaNatural; else juridicaTemplate">
            <p><b>Usuario: </b> {{ personaNatural.usuario.correo_electronico }}</p>
            <p><b>Clave de Acceso:</b> {{ personaNatural.clave_acceso }}</p>
            <p><b>Cédula/RUC: </b>{{ personaNatural.identificacion }}</p>
            <p>
                <b>Nombres: </b>
                {{ personaNatural.nombres + ' ' + personaNatural.apellido_p + ' ' + personaNatural.apellido_m}}
            </p>
            <p><b>Celular: </b>{{ personaNatural.usuario.celular }}</p>
            <p><b>Información Adicional:</b></p>
            <textarea nz-input readOnly>{{ personaNatural.informacion_adicional }}</textarea>
        </ng-container>
        <ng-template #juridicaTemplate>
            <ng-container *ngIf="personaJuridica; else noDataTemplate">
                <p><b>Usuario: </b> {{ personaJuridica.usuario.correo_electronico }}</p>
                <p><b>Clave de Acceso:</b> {{ personaJuridica.clave_acceso }}</p>
                <p><b>RUC: </b>{{ personaJuridica.ruc }}</p>
                <p><b>Razón Social: </b>{{ personaJuridica.razon_social }}</p>
                <p><b>Celular: </b>{{ personaJuridica.usuario.celular }}</p>
                <p><b>Información Adicional:</b></p>
                <textarea nz-input readOnly>{{ personaJuridica.informacion_adicional }}</textarea>
            </ng-container>
        </ng-template>
        <ng-template #noDataTemplate>
            <p>No se ha podido cargar los datos del cliente</p>
        </ng-template>
    </ng-template>
    <ng-template #botonesModal>
        <button nz-button nzType="primary" (click)="editarUsuario()">Editar</button>
        <button nz-button nzType="primary" nzDanger nzOkDanger nz-popconfirm nzPopconfirmTitle="¿Está seguro?"
            nzCancelText="Cancelar" (nzOnConfirm)="eliminarUsuario()">Eliminar</button>
        <button nz-button (click)="cerrarModalUsuario()">Cerrar</button>
    </ng-template>
</nz-modal>