<nz-spin [nzSpinning]="!paginaCargada" [nzTip]="'Cargando lista de usuarios...'">
</nz-spin>

<div class="cards--grid" *ngIf="paginaCargada">
    <div *ngFor="let personaN of personasNaturales; trackBy: trackById" class="card">
        <p class="badge-container">
            <nz-badge nzStandalone [nzCount]="asignarDiaDeclaracion(personaN.identificacion)"
                [nzStyle]="{ backgroundColor: asignarColor(personaN.identificacion) }"></nz-badge>
            <span style="font-weight: 900;">{{personaN.identificacion}}</span>
            <button nz-button nzType="primary" nzShape="circle" class="eye-button" nzSize="small"
                (click)="mostrarDetalle(personaN, null)">
                <span nz-icon nzType="eye"></span>
            </button>
        </p>
        <p style="margin-bottom: 0;">{{personaN.nombres}} {{personaN.apellido_p}} {{personaN.apellido_m}}</p>
    </div>

    <div *ngFor="let personaJ of personasJuridicas; trackBy: trackById" class="card">
        <p class="badge-container">
            <nz-badge nzStandalone [nzCount]="asignarDiaDeclaracion(personaJ.ruc)"
                [nzStyle]="{ backgroundColor: asignarColor(personaJ.ruc) }"></nz-badge>
            <span style="font-weight: 900;">{{personaJ.ruc}}</span>
            <button nz-button nzType="primary" nzShape="circle" class="eye-button" nzSize="small"
                (click)="mostrarDetalle(null, personaJ)">
                <span nz-icon nzType="eye"></span>
            </button>
        </p>
        <p style="margin-bottom: 0;">{{personaJ.razon_social}}</p>
    </div>
</div>

<app-detalle-usuario [modalVisible]="mostrarModal" [personaNatural]="selectedPersonaNatural"
    [personaJuridica]="selectedPersonaJuridica" (cerrarModal)="cerrarModal()">
</app-detalle-usuario>